@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca</h1>
    <p>O projeto de biblioteca tem como objetivo principal fornecer acesso fácil e gratuito a uma ampla variedade de livros e DVDs para empréstimo. Nosso acervo será cuidadosamente selecionado, abrangendo diversos gêneros literários, desde romances e ficção científica até obras de não ficção e biografias. Além disso, ofereceremos uma extensa coleção de DVDs, abrangendo filmes clássicos, documentários, séries de TV e muito mais. Acreditamos que o empréstimo de livros e DVDs é uma maneira eficaz de incentivar a leitura, a aprendizagem e o entretenimento, tornando o conhecimento e a cultura acessíveis a todos os membros da comunidade. Com equipes qualificadas e um sistema eficiente de registro e empréstimo, nossa biblioteca será um espaço acolhedor e dinâmico, onde as pessoas poderão explorar novas histórias e expandir seus horizontes.</p>
</div>
